.login-bg {
  min-height: 100vh;
  background-image: url('../images/loginbg.png');
  background-size: cover;
  background-position: center;
  position: relative;
  overflow: hidden;
}

.login-card {
  position: absolute;
  left: 60%;
  bottom: 35%;
  z-index: 1;
  border-radius: 16px;
}

.login-card .btn {
  background: #d9f24b !important;
  color: #222 !important;
  font-weight: 600;
  font-size: 1.1rem;
  border: none;
  border-radius: 8px;
}

.login-card .btn:hover {
  background: #cbe53e !important;
}

.register-link {
    font-size: 13px !important;
}

@media (max-width: 576px) {
  .login-card {
    padding: 2rem 1rem;
    max-width: 95vw;
  }
  .login-card {
    position: absolute;
    left: 50%;
    top: 35%;
    transform: translate(-50%, -50%);
    z-index: 1;
    border-radius: 16px;
  } 
}
@media(min-width: 577px) and (max-width: 768px) {
  .login-card {
    padding: 2rem 1rem;
    max-width: 95vw;
  }
  .login-card {
    position: absolute;
    left: 50%;
    top: 35%;
    transform: translate(-50%, -50%);
    z-index: 1;
    border-radius: 16px;
  } 
}
@media(min-width: 769px) and (max-width: 992px) {
  .login-card {
    padding: 2rem 1rem;
    max-width: 95vw;
  }
  .login-card {
    position: absolute;
    left: 50%;
    top: 35%;
    transform: translate(-50%, -50%);
    z-index: 1;
    border-radius: 16px;
  } 
}   

